@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --brand-business: 266 37% 16%;
    --brand-official: 251 71% 69%;
    --brand-oncontrasted: 42 100% 97%;
    --brand-primary: 254 79% 62%;
    --brand-secondary: 251 71% 69%;
  }
}

@layer base {
  body {
    @apply h-screen bg-BrandOnContrasted text-BrandBusiness;
  }
}
